
<div>
    <h2>{{title}}</h2>
    <div class="input-group input-group-sm mb-3">
        <span class="input-group-text" id="inputGroup-sizing-sm">FirstName</span>
        <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm" [(ngModel)]="user.firstname">
      </div>

      <div class="input-group input-group-sm mb-3">
        <span class="input-group-text" id="inputGroup-sizing-sm">LastName</span>
        <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm"[(ngModel)]="user.lastname">
      </div>

      <div class="input-group input-group-sm mb-3">
        <span class="input-group-text" id="inputGroup-sizing-sm">Age</span>
        <input type="number" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm" [(ngModel)]="user.age">
      </div>

      <div class="input-group input-group-sm mb-3">
        <span class="input-group-text" id="inputGroup-sizing-sm">Email</span>
        <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm" [(ngModel)]="user.email">
      </div>

      <div class="form-check">
        <input  value="male" class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1" [(ngModel)]="user.gender">
        <label class="form-check-label" for="flexRadioDefault1">
          Male
        </label>
        <div class="form-check">
            <input value="female" class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1" [(ngModel)]="u3ser.gender">
            <label class="form-check-label" for="flexRadioDefault1">
              Female
            </label>
          </div>
          
      </div>
      <button type="button" class="btn btn-primary btn-lg" (click)="save()">Submit</button>

      
</div>