<app-home-navbar></app-home-navbar>
<div>
  <div class="box-form">
    <div class="left">
      <div class="overlay">
        <h1>Hola! User.</h1>
        <p>User will be redirected to page based on its role.
          Author and Reader have separate workspaces.</p>
        <span>
          <p>login with social media</p>
          <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
          <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i> Login with Twitter</a>
        </span>
      </div>
    </div>


    <div class="right">
      <h5>Login</h5>
      <p>Don't have an account? <a name="create" (click)="info()" style="color: rgb(102, 100, 100);"><b><u>Create Your
              Account</u></b></a> it takes less than a minute</p>
      <form *ngIf="!isLoggedIn" name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
        <div class="inputs">
          <input name="username" placeholder="Username" type="text" class="form-control" id="exampleInputEmail1"
            aria-describedby="emailHelp" [(ngModel)]="form.username">
          <br>
          <input name="password" placeholder="Password" type="text" class="form-control" id="exampleInputPassword1"
            [(ngModel)]="form.password">
        </div>
        <br>
        <button type="submit" class="btn btn-primary">Login</button>
      </form>
    </div>

  </div>
</div>
<app-navbr></app-navbr>