<div>
	<h3 style="background-color: black; color: burlywood; text-align: center; padding-top: 5px;border-bottom:1px solid burlywood;">
		Book Found
	  </h3>
    <ul class="tilesWrap">
    <li>
        <h2>{{book.bookId}}</h2>
        <h3>{{book.bookName}}</h3>
        <p><span>Author - </span>
          {{book.bookAuthor}}	
        </p>
        <p><span>Genre - </span>
          {{book.bookGenre}}
        </p>
        <p><span>Price - </span>
          {{book.bookPrice | currency:'EUR'}}
        </p>
      </li>
    </ul>
</div>
