<div>
	<h3 style="background-color: black; color: burlywood; text-align: center; padding-top: 5px;border-bottom:1px solid burlywood;">
		Available Books
	  </h3>
<ul class="tilesWrap">
	<li *ngFor="let b of books,index as i">
		<h2><img style="border-radius: 50%;" width="55px" height="55px" src="/assets/icon.jpg"></h2>
		<h3>{{b.bookName}}</h3>
		<p><span>Author - </span>
			{{b.bookAuthor}}	
		</p>
		<p><span>Genre - </span>
			{{b.bookGenre}}
		</p>
		<p><span>Price - </span>
			{{b.bookPrice | currency:'EUR'}}
		</p>
		<button type="button" (click)="deleteBook(b,i)" class="btn btn-success">Remove</button>
	</li>
</ul>